<div id="app-contact" style="min-height: 100vh;height: 100%;">
  <div class="container valign-wrapper" style="height: 100%;">
    <div class="row" style="margin: 0 auto;">
      <div class="col s12 m12 l12 xl12 white-text center-align">
        <h3>Contactez moi</h3>
      </div>
      <div class="col s12">
        <p style="font-style: italic;color: white;text-align: center">Adresse e-mail: <span style="color: wheat;font-size: 17px;">thomascac95@hotmail.fr</span></p>
      </div>
    </div>
  </div>
</div>
